.addItem {
    max-width: 800px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px black;
    text-align: center;
}

.addItem__title {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form label {
    padding: 5px;
}

form input {
    padding: 5px;
    display: block;
    margin: 5px auto;
    padding: 10px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid white;
}

form input[type="checkbox"] {
    display: inline-block;
    margin-left: 10px;
    transform: scale(1.3);
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.form__btn,
.reset__btn {
    margin: 5px auto;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}


.error__msg {
    text-shadow: 0 0 15px red;
}


@media(min-width: 1024px) {

    .form__btn:hover,
    .reset__btn:hover {
        background-color: #fff;
        color: #20232A;
    }
}